In [4]:
import pandas as pd 

data = pd.read_csv('/Users/mac2/Visual Studio Code/ROADWATCH/Road/message.csv')

data

,id,date,sender_id,message
0,1705274,2024-11-01 12:53:19+00:00,6.415259e+09,ุดุฑุทู ูุงุฒูู ู ู ุนููู
1,1705273,2024-11-01 12:52:29+00:00,6.415259e+09,ุญุงุฏุซ ุณูุฑ ุจุนุฏ ุงุดุงุฑุงุช ุดููู ุจุงุชุฌุงู ุนููู
2,1705272,2024-11-01 12:48:24+00:00,6.415259e+09,ุงูู ูุดูุฉ ุชูุงุฌุฏ ุฌูุด ู ุน ุดุฑุทุฉ ูู ุฎุงููุงุช
3,1705271,2024-11-01 12:44:55+00:00,6.415259e+09,ุงูุฑุฌุงุก ู ู ูู ุดุฎุต ุจูุฑุง ุงูุชูุฑูุฑ ููุจุณ โค๏ธ ุฃู ๐\n\n...
4,1705270,2024-11-01 12:39:22+00:00,6.415259e+09,ุชู ูุชุญ ุญุงุฌุฒ ุนูุงุจ ุงูุงู ุจุงูุงุชุฌุงููู โ โ โ โ
...,...,...,...,...
24606,1153328,2023-09-26 12:40:50+00:00,6.207386e+09,NaN
24607,1125498,2023-09-15 20:52:33+00:00,6.117278e+09,NaN
24608,1096774,2023-09-07 14:29:37+00:00,6.207386e+09,NaN
24609,568836,2023-04-13 19:37:30+00:00,5.970923e+09,๐ุงุฑูุงู ู ุฌู ุนุงุช ุชูุงุณู ุจูู ุงูู ุฏู::::\n๐ุฑูู ูุฑุงุฌุงุช...
24610,568834,2023-04-13 19:36:50+00:00,5.970923e+09,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...

In [5]:
import re
def remove_emojis(text):
    if isinstance(text, str):
        return re.sub(r'[^\w\s,.!?ุ:\n]', '', text)
    return text

data['message'] = data['message'].apply(remove_emojis)

data

,id,date,sender_id,message
0,1705274,2024-11-01 12:53:19+00:00,6.415259e+09,ุดุฑุทู ูุงุฒูู ู ู ุนููู
1,1705273,2024-11-01 12:52:29+00:00,6.415259e+09,ุญุงุฏุซ ุณูุฑ ุจุนุฏ ุงุดุงุฑุงุช ุดููู ุจุงุชุฌุงู ุนููู
2,1705272,2024-11-01 12:48:24+00:00,6.415259e+09,ุงูู ูุดูุฉ ุชูุงุฌุฏ ุฌูุด ู ุน ุดุฑุทุฉ ูู ุฎุงููุงุช
3,1705271,2024-11-01 12:44:55+00:00,6.415259e+09,ุงูุฑุฌุงุก ู ู ูู ุดุฎุต ุจูุฑุง ุงูุชูุฑูุฑ ููุจุณ ุฃู \n\nุชูุง...
4,1705270,2024-11-01 12:39:22+00:00,6.415259e+09,ุชู ูุชุญ ุญุงุฌุฒ ุนูุงุจ ุงูุงู ุจุงูุงุชุฌุงููู
...,...,...,...,...
24606,1153328,2023-09-26 12:40:50+00:00,6.207386e+09,NaN
24607,1125498,2023-09-15 20:52:33+00:00,6.117278e+09,NaN
24608,1096774,2023-09-07 14:29:37+00:00,6.207386e+09,NaN
24609,568836,2023-04-13 19:37:30+00:00,5.970923e+09,ุงุฑูุงู ู ุฌู ุนุงุช ุชูุงุณู ุจูู ุงูู ุฏู::::\nุฑูู ูุฑุงุฌุงุช ู...
24610,568834,2023-04-13 19:36:50+00:00,5.970923e+09,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...

In [6]:
def remove_jargon(data, jargon_terms):
      def clean_message(message):
        pattern = re.compile(r'\b(' + '|'.join(re.escape(term) for term in jargon_terms) + r')\b', re.IGNORECASE)
        return pattern.sub('', message)

        data['message'] = data['message'].apply(clean_message)

        data['message'] = data['message'].str.strip().replace(r'\s+', ' ', regex=True)
      return data

data

,id,date,sender_id,message
0,1705274,2024-11-01 12:53:19+00:00,6.415259e+09,ุดุฑุทู ูุงุฒูู ู ู ุนููู
1,1705273,2024-11-01 12:52:29+00:00,6.415259e+09,ุญุงุฏุซ ุณูุฑ ุจุนุฏ ุงุดุงุฑุงุช ุดููู ุจุงุชุฌุงู ุนููู
2,1705272,2024-11-01 12:48:24+00:00,6.415259e+09,ุงูู ูุดูุฉ ุชูุงุฌุฏ ุฌูุด ู ุน ุดุฑุทุฉ ูู ุฎุงููุงุช
3,1705271,2024-11-01 12:44:55+00:00,6.415259e+09,ุงูุฑุฌุงุก ู ู ูู ุดุฎุต ุจูุฑุง ุงูุชูุฑูุฑ ููุจุณ ุฃู \n\nุชูุง...
4,1705270,2024-11-01 12:39:22+00:00,6.415259e+09,ุชู ูุชุญ ุญุงุฌุฒ ุนูุงุจ ุงูุงู ุจุงูุงุชุฌุงููู
...,...,...,...,...
24606,1153328,2023-09-26 12:40:50+00:00,6.207386e+09,NaN
24607,1125498,2023-09-15 20:52:33+00:00,6.117278e+09,NaN
24608,1096774,2023-09-07 14:29:37+00:00,6.207386e+09,NaN
24609,568836,2023-04-13 19:37:30+00:00,5.970923e+09,ุงุฑูุงู ู ุฌู ุนุงุช ุชูุงุณู ุจูู ุงูู ุฏู::::\nุฑูู ูุฑุงุฌุงุช ู...
24610,568834,2023-04-13 19:36:50+00:00,5.970923e+09,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...

In [7]:
print(data['message'].isnull().sum())

977

In [8]:
for index, message in enumerate(data['message']):
    if not isinstance(message, str):
        print(f"Row {index}: {message} (Type: {type(message)})")

Row 11: nan (Type: <class 'float'>)
Row 16: nan (Type: <class 'float'>)
Row 19: nan (Type: <class 'float'>)
Row 20: nan (Type: <class 'float'>)
Row 22: nan (Type: <class 'float'>)
Row 23: nan (Type: <class 'float'>)
Row 25: nan (Type: <class 'float'>)
Row 27: nan (Type: <class 'float'>)
Row 99: nan (Type: <class 'float'>)
Row 181: nan (Type: <class 'float'>)
Row 232: nan (Type: <class 'float'>)
Row 259: nan (Type: <class 'float'>)
Row 314: nan (Type: <class 'float'>)
Row 330: nan (Type: <class 'float'>)
Row 415: nan (Type: <class 'float'>)
Row 417: nan (Type: <class 'float'>)
Row 427: nan (Type: <class 'float'>)
Row 445: nan (Type: <class 'float'>)
Row 459: nan (Type: <class 'float'>)
Row 478: nan (Type: <class 'float'>)
Row 499: nan (Type: <class 'float'>)
Row 544: nan (Type: <class 'float'>)
Row 555: nan (Type: <class 'float'>)
Row 564: nan (Type: <class 'float'>)
Row 582: nan (Type: <class 'float'>)
Row 614: nan (Type: <class 'float'>)
Row 621: nan (Type: <class 'float'>)
Row 649: nan (Type: <class 'float'>)
Row 714: nan (Type: <class 'float'>)
Row 724: nan (Type: <class 'float'>)
Row 732: nan (Type: <class 'float'>)
Row 746: nan (Type: <class 'float'>)
Row 755: nan (Type: <class 'float'>)
Row 761: nan (Type: <class 'float'>)
Row 786: nan (Type: <class 'float'>)
Row 812: nan (Type: <class 'float'>)
Row 827: nan (Type: <class 'float'>)
Row 834: nan (Type: <class 'float'>)
Row 835: nan (Type: <class 'float'>)
Row 855: nan (Type: <class 'float'>)
Row 869: nan (Type: <class 'float'>)
Row 871: nan (Type: <class 'float'>)
Row 873: nan (Type: <class 'float'>)
Row 887: nan (Type: <class 'float'>)
Row 905: nan (Type: <class 'float'>)
Row 982: nan (Type: <class 'float'>)
Row 983: nan (Type: <class 'float'>)
Row 992: nan (Type: <class 'float'>)
Row 999: nan (Type: <class 'float'>)
Row 1077: nan (Type: <class 'float'>)
Row 1096: nan (Type: <class 'float'>)
Row 1170: nan (Type: <class 'float'>)
Row 1182: nan (Type: <class 'float'>)
Row 1191: nan (Type: <class 'float'>)
Row 1214: nan (Type: <class 'float'>)
Row 1237: nan (Type: <class 'float'>)
Row 1239: nan (Type: <class 'float'>)
Row 1254: nan (Type: <class 'float'>)
Row 1266: nan (Type: <class 'float'>)
Row 1296: nan (Type: <class 'float'>)
Row 1297: nan (Type: <class 'float'>)
Row 1298: nan (Type: <class 'float'>)
Row 1303: nan (Type: <class 'float'>)
Row 1304: nan (Type: <class 'float'>)
Row 1328: nan (Type: <class 'float'>)
Row 1337: nan (Type: <class 'float'>)
Row 1347: nan (Type: <class 'float'>)
Row 1367: nan (Type: <class 'float'>)
Row 1378: nan (Type: <class 'float'>)
Row 1445: nan (Type: <class 'float'>)
Row 1447: nan (Type: <class 'float'>)
Row 1473: nan (Type: <class 'float'>)
Row 1503: nan (Type: <class 'float'>)
Row 1579: nan (Type: <class 'float'>)
Row 1588: nan (Type: <class 'float'>)
Row 1589: nan (Type: <class 'float'>)
Row 1596: nan (Type: <class 'float'>)
Row 1619: nan (Type: <class 'float'>)
Row 1622: nan (Type: <class 'float'>)
Row 1632: nan (Type: <class 'float'>)
Row 1633: nan (Type: <class 'float'>)
Row 1634: nan (Type: <class 'float'>)
Row 1635: nan (Type: <class 'float'>)
Row 1693: nan (Type: <class 'float'>)
Row 1694: nan (Type: <class 'float'>)
Row 1696: nan (Type: <class 'float'>)
Row 1697: nan (Type: <class 'float'>)
Row 1713: nan (Type: <class 'float'>)
Row 1749: nan (Type: <class 'float'>)
Row 1750: nan (Type: <class 'float'>)
Row 1774: nan (Type: <class 'float'>)
Row 1799: nan (Type: <class 'float'>)
Row 1804: nan (Type: <class 'float'>)
Row 1853: nan (Type: <class 'float'>)
Row 1863: nan (Type: <class 'float'>)
Row 1989: nan (Type: <class 'float'>)
Row 2015: nan (Type: <class 'float'>)
Row 2024: nan (Type: <class 'float'>)
Row 2034: nan (Type: <class 'float'>)
Row 2049: nan (Type: <class 'float'>)
Row 2050: nan (Type: <class 'float'>)
Row 2058: nan (Type: <class 'float'>)
Row 2060: nan (Type: <class 'float'>)
Row 2172: nan (Type: <class 'float'>)
Row 2207: nan (Type: <class 'float'>)
Row 2248: nan (Type: <class 'float'>)
Row 2274: nan (Type: <class 'float'>)
Row 2302: nan (Type: <class 'float'>)
Row 2316: nan (Type: <class 'float'>)
Row 2323: nan (Type: <class 'float'>)
Row 2390: nan (Type: <class 'float'>)
Row 2397: nan (Type: <class 'float'>)
Row 2417: nan (Type: <class 'float'>)
Row 2420: nan (Type: <class 'float'>)
Row 2430: nan (Type: <class 'float'>)
Row 2441: nan (Type: <class 'float'>)
Row 2459: nan (Type: <class 'float'>)
Row 2513: nan (Type: <class 'float'>)
Row 2533: nan (Type: <class 'float'>)
Row 2603: nan (Type: <class 'float'>)
Row 2644: nan (Type: <class 'float'>)
Row 2685: nan (Type: <class 'float'>)
Row 2708: nan (Type: <class 'float'>)
Row 2733: nan (Type: <class 'float'>)
Row 2795: nan (Type: <class 'float'>)
Row 2871: nan (Type: <class 'float'>)
Row 2900: nan (Type: <class 'float'>)
Row 2912: nan (Type: <class 'float'>)
Row 2920: nan (Type: <class 'float'>)
Row 2922: nan (Type: <class 'float'>)
Row 2923: nan (Type: <class 'float'>)
Row 2924: nan (Type: <class 'float'>)
Row 2932: nan (Type: <class 'float'>)
Row 2957: nan (Type: <class 'float'>)
Row 2965: nan (Type: <class 'float'>)
Row 2966: nan (Type: <class 'float'>)
Row 2967: nan (Type: <class 'float'>)
Row 2976: nan (Type: <class 'float'>)
Row 2978: nan (Type: <class 'float'>)
Row 2979: nan (Type: <class 'float'>)
Row 2987: nan (Type: <class 'float'>)
Row 3029: nan (Type: <class 'float'>)
Row 3030: nan (Type: <class 'float'>)
Row 3056: nan (Type: <class 'float'>)
Row 3083: nan (Type: <class 'float'>)
Row 3097: nan (Type: <class 'float'>)
Row 3104: nan (Type: <class 'float'>)
Row 3129: nan (Type: <class 'float'>)
Row 3168: nan (Type: <class 'float'>)
Row 3172: nan (Type: <class 'float'>)
Row 3241: nan (Type: <class 'float'>)
Row 3264: nan (Type: <class 'float'>)
Row 3275: nan (Type: <class 'float'>)
Row 3316: nan (Type: <class 'float'>)
Row 3352: nan (Type: <class 'float'>)
Row 3353: nan (Type: <class 'float'>)
Row 3355: nan (Type: <class 'float'>)
Row 3361: nan (Type: <class 'float'>)
Row 3369: nan (Type: <class 'float'>)
Row 3382: nan (Type: <class 'float'>)
Row 3395: nan (Type: <class 'float'>)
Row 3513: nan (Type: <class 'float'>)
Row 3524: nan (Type: <class 'float'>)
Row 3566: nan (Type: <class 'float'>)
Row 3592: nan (Type: <class 'float'>)
Row 3614: nan (Type: <class 'float'>)
Row 3628: nan (Type: <class 'float'>)
Row 3645: nan (Type: <class 'float'>)
Row 3653: nan (Type: <class 'float'>)
Row 3673: nan (Type: <class 'float'>)
Row 3674: nan (Type: <class 'float'>)
Row 3788: nan (Type: <class 'float'>)
Row 3802: nan (Type: <class 'float'>)
Row 3803: nan (Type: <class 'float'>)
Row 3832: nan (Type: <class 'float'>)
Row 3914: nan (Type: <class 'float'>)
Row 3932: nan (Type: <class 'float'>)
Row 3986: nan (Type: <class 'float'>)
Row 4005: nan (Type: <class 'float'>)
Row 4016: nan (Type: <class 'float'>)
Row 4058: nan (Type: <class 'float'>)
Row 4069: nan (Type: <class 'float'>)
Row 4074: nan (Type: <class 'float'>)
Row 4089: nan (Type: <class 'float'>)
Row 4107: nan (Type: <class 'float'>)
Row 4108: nan (Type: <class 'float'>)
Row 4123: nan (Type: <class 'float'>)
Row 4148: nan (Type: <class 'float'>)
Row 4182: nan (Type: <class 'float'>)
Row 4284: nan (Type: <class 'float'>)
Row 4364: nan (Type: <class 'float'>)
Row 4436: nan (Type: <class 'float'>)
Row 4440: nan (Type: <class 'float'>)
Row 4451: nan (Type: <class 'float'>)
Row 4501: nan (Type: <class 'float'>)
Row 4502: nan (Type: <class 'float'>)
Row 4510: nan (Type: <class 'float'>)
Row 4511: nan (Type: <class 'float'>)
Row 4567: nan (Type: <class 'float'>)
Row 4578: nan (Type: <class 'float'>)
Row 4581: nan (Type: <class 'float'>)
Row 4587: nan (Type: <class 'float'>)
Row 4588: nan (Type: <class 'float'>)
Row 4649: nan (Type: <class 'float'>)
Row 4702: nan (Type: <class 'float'>)
Row 4760: nan (Type: <class 'float'>)
Row 4790: nan (Type: <class 'float'>)
Row 4823: nan (Type: <class 'float'>)
Row 4850: nan (Type: <class 'float'>)
Row 4953: nan (Type: <class 'float'>)
Row 4988: nan (Type: <class 'float'>)
Row 5034: nan (Type: <class 'float'>)
Row 5045: nan (Type: <class 'float'>)
Row 5047: nan (Type: <class 'float'>)
Row 5051: nan (Type: <class 'float'>)
Row 5081: nan (Type: <class 'float'>)
Row 5091: nan (Type: <class 'float'>)
Row 5099: nan (Type: <class 'float'>)
Row 5163: nan (Type: <class 'float'>)
Row 5287: nan (Type: <class 'float'>)
Row 5469: nan (Type: <class 'float'>)
Row 5470: nan (Type: <class 'float'>)
Row 5482: nan (Type: <class 'float'>)
Row 5490: nan (Type: <class 'float'>)
Row 5550: nan (Type: <class 'float'>)
Row 5551: nan (Type: <class 'float'>)
Row 5573: nan (Type: <class 'float'>)
Row 5578: nan (Type: <class 'float'>)
Row 5590: nan (Type: <class 'float'>)
Row 5597: nan (Type: <class 'float'>)
Row 5602: nan (Type: <class 'float'>)
Row 5604: nan (Type: <class 'float'>)
Row 5606: nan (Type: <class 'float'>)
Row 5619: nan (Type: <class 'float'>)
Row 5635: nan (Type: <class 'float'>)
Row 5644: nan (Type: <class 'float'>)
Row 5653: nan (Type: <class 'float'>)
Row 5655: nan (Type: <class 'float'>)
Row 5659: nan (Type: <class 'float'>)
Row 5667: nan (Type: <class 'float'>)
Row 5668: nan (Type: <class 'float'>)
Row 5682: nan (Type: <class 'float'>)
Row 5691: nan (Type: <class 'float'>)
Row 5699: nan (Type: <class 'float'>)
Row 5701: nan (Type: <class 'float'>)
Row 5713: nan (Type: <class 'float'>)
Row 5715: nan (Type: <class 'float'>)
Row 5716: nan (Type: <class 'float'>)
Row 5722: nan (Type: <class 'float'>)
Row 5727: nan (Type: <class 'float'>)
Row 5734: nan (Type: <class 'float'>)
Row 5757: nan (Type: <class 'float'>)
Row 5761: nan (Type: <class 'float'>)
Row 5820: nan (Type: <class 'float'>)
Row 5862: nan (Type: <class 'float'>)
Row 5867: nan (Type: <class 'float'>)
Row 5875: nan (Type: <class 'float'>)
Row 5903: nan (Type: <class 'float'>)
Row 5914: nan (Type: <class 'float'>)
Row 5919: nan (Type: <class 'float'>)
Row 5940: nan (Type: <class 'float'>)
Row 5953: nan (Type: <class 'float'>)
Row 5973: nan (Type: <class 'float'>)
Row 5975: nan (Type: <class 'float'>)
Row 5977: nan (Type: <class 'float'>)
Row 5982: nan (Type: <class 'float'>)
Row 5987: nan (Type: <class 'float'>)
Row 6068: nan (Type: <class 'float'>)
Row 6069: nan (Type: <class 'float'>)
Row 6079: nan (Type: <class 'float'>)
Row 6096: nan (Type: <class 'float'>)
Row 6097: nan (Type: <class 'float'>)
Row 6112: nan (Type: <class 'float'>)
Row 6113: nan (Type: <class 'float'>)
Row 6152: nan (Type: <class 'float'>)
Row 6154: nan (Type: <class 'float'>)
Row 6182: nan (Type: <class 'float'>)
Row 6235: nan (Type: <class 'float'>)
Row 6267: nan (Type: <class 'float'>)
Row 6288: nan (Type: <class 'float'>)
Row 6306: nan (Type: <class 'float'>)
Row 6343: nan (Type: <class 'float'>)
Row 6359: nan (Type: <class 'float'>)
Row 6408: nan (Type: <class 'float'>)
Row 6411: nan (Type: <class 'float'>)
Row 6419: nan (Type: <class 'float'>)
Row 6443: nan (Type: <class 'float'>)
Row 6454: nan (Type: <class 'float'>)
Row 6492: nan (Type: <class 'float'>)
Row 6496: nan (Type: <class 'float'>)
Row 6515: nan (Type: <class 'float'>)
Row 6591: nan (Type: <class 'float'>)
Row 6604: nan (Type: <class 'float'>)
Row 6605: nan (Type: <class 'float'>)
Row 6616: nan (Type: <class 'float'>)
Row 6618: nan (Type: <class 'float'>)
Row 6649: nan (Type: <class 'float'>)
Row 6654: nan (Type: <class 'float'>)
Row 6667: nan (Type: <class 'float'>)
Row 6696: nan (Type: <class 'float'>)
Row 6721: nan (Type: <class 'float'>)
Row 6761: nan (Type: <class 'float'>)
Row 6789: nan (Type: <class 'float'>)
Row 6823: nan (Type: <class 'float'>)
Row 6875: nan (Type: <class 'float'>)
Row 6889: nan (Type: <class 'float'>)
Row 6901: nan (Type: <class 'float'>)
Row 6991: nan (Type: <class 'float'>)
Row 7003: nan (Type: <class 'float'>)
Row 7013: nan (Type: <class 'float'>)
Row 7064: nan (Type: <class 'float'>)
Row 7072: nan (Type: <class 'float'>)
Row 7085: nan (Type: <class 'float'>)
Row 7101: nan (Type: <class 'float'>)
Row 7171: nan (Type: <class 'float'>)
Row 7204: nan (Type: <class 'float'>)
Row 7208: nan (Type: <class 'float'>)
Row 7228: nan (Type: <class 'float'>)
Row 7255: nan (Type: <class 'float'>)
Row 7256: nan (Type: <class 'float'>)
Row 7270: nan (Type: <class 'float'>)
Row 7282: nan (Type: <class 'float'>)
Row 7301: nan (Type: <class 'float'>)
Row 7302: nan (Type: <class 'float'>)
Row 7331: nan (Type: <class 'float'>)
Row 7333: nan (Type: <class 'float'>)
Row 7365: nan (Type: <class 'float'>)
Row 7390: nan (Type: <class 'float'>)
Row 7415: nan (Type: <class 'float'>)
Row 7431: nan (Type: <class 'float'>)
Row 7440: nan (Type: <class 'float'>)
Row 7448: nan (Type: <class 'float'>)
Row 7454: nan (Type: <class 'float'>)
Row 7467: nan (Type: <class 'float'>)
Row 7504: nan (Type: <class 'float'>)
Row 7508: nan (Type: <class 'float'>)
Row 7509: nan (Type: <class 'float'>)
Row 7511: nan (Type: <class 'float'>)
Row 7517: nan (Type: <class 'float'>)
Row 7560: nan (Type: <class 'float'>)
Row 7570: nan (Type: <class 'float'>)
Row 7651: nan (Type: <class 'float'>)
Row 7656: nan (Type: <class 'float'>)
Row 7725: nan (Type: <class 'float'>)
Row 7743: nan (Type: <class 'float'>)
Row 7749: nan (Type: <class 'float'>)
Row 7792: nan (Type: <class 'float'>)
Row 7815: nan (Type: <class 'float'>)
Row 7848: nan (Type: <class 'float'>)
Row 7861: nan (Type: <class 'float'>)
Row 7919: nan (Type: <class 'float'>)
Row 7946: nan (Type: <class 'float'>)
Row 7960: nan (Type: <class 'float'>)
Row 7983: nan (Type: <class 'float'>)
Row 7990: nan (Type: <class 'float'>)
Row 7992: nan (Type: <class 'float'>)
Row 8111: nan (Type: <class 'float'>)
Row 8192: nan (Type: <class 'float'>)
Row 8257: nan (Type: <class 'float'>)
Row 8300: nan (Type: <class 'float'>)
Row 8342: nan (Type: <class 'float'>)
Row 8346: nan (Type: <class 'float'>)
Row 8351: nan (Type: <class 'float'>)
Row 8359: nan (Type: <class 'float'>)
Row 8366: nan (Type: <class 'float'>)
Row 8387: nan (Type: <class 'float'>)
Row 8393: nan (Type: <class 'float'>)
Row 8394: nan (Type: <class 'float'>)
Row 8486: nan (Type: <class 'float'>)
Row 8494: nan (Type: <class 'float'>)
Row 8507: nan (Type: <class 'float'>)
Row 8587: nan (Type: <class 'float'>)
Row 8602: nan (Type: <class 'float'>)
Row 8626: nan (Type: <class 'float'>)
Row 8630: nan (Type: <class 'float'>)
Row 8638: nan (Type: <class 'float'>)
Row 8658: nan (Type: <class 'float'>)
Row 8664: nan (Type: <class 'float'>)
Row 8674: nan (Type: <class 'float'>)
Row 8688: nan (Type: <class 'float'>)
Row 8708: nan (Type: <class 'float'>)
Row 8725: nan (Type: <class 'float'>)
Row 8855: nan (Type: <class 'float'>)
Row 8870: nan (Type: <class 'float'>)
Row 8872: nan (Type: <class 'float'>)
Row 8900: nan (Type: <class 'float'>)
Row 8914: nan (Type: <class 'float'>)
Row 8919: nan (Type: <class 'float'>)
Row 8969: nan (Type: <class 'float'>)
Row 8975: nan (Type: <class 'float'>)
Row 8989: nan (Type: <class 'float'>)
Row 9001: nan (Type: <class 'float'>)
Row 9027: nan (Type: <class 'float'>)
Row 9088: nan (Type: <class 'float'>)
Row 9103: nan (Type: <class 'float'>)
Row 9138: nan (Type: <class 'float'>)
Row 9139: nan (Type: <class 'float'>)
Row 9150: nan (Type: <class 'float'>)
Row 9161: nan (Type: <class 'float'>)
Row 9168: nan (Type: <class 'float'>)
Row 9173: nan (Type: <class 'float'>)
Row 9185: nan (Type: <class 'float'>)
Row 9186: nan (Type: <class 'float'>)
Row 9194: nan (Type: <class 'float'>)
Row 9198: nan (Type: <class 'float'>)
Row 9208: nan (Type: <class 'float'>)
Row 9231: nan (Type: <class 'float'>)
Row 9238: nan (Type: <class 'float'>)
Row 9250: nan (Type: <class 'float'>)
Row 9271: nan (Type: <class 'float'>)
Row 9283: nan (Type: <class 'float'>)
Row 9405: nan (Type: <class 'float'>)
Row 9406: nan (Type: <class 'float'>)
Row 9414: nan (Type: <class 'float'>)
Row 9422: nan (Type: <class 'float'>)
Row 9437: nan (Type: <class 'float'>)
Row 9473: nan (Type: <class 'float'>)
Row 9474: nan (Type: <class 'float'>)
Row 9521: nan (Type: <class 'float'>)
Row 9601: nan (Type: <class 'float'>)
Row 9604: nan (Type: <class 'float'>)
Row 9625: nan (Type: <class 'float'>)
Row 9664: nan (Type: <class 'float'>)
Row 9704: nan (Type: <class 'float'>)
Row 9729: nan (Type: <class 'float'>)
Row 9776: nan (Type: <class 'float'>)
Row 9850: nan (Type: <class 'float'>)
Row 9872: nan (Type: <class 'float'>)
Row 9879: nan (Type: <class 'float'>)
Row 9882: nan (Type: <class 'float'>)
Row 9937: nan (Type: <class 'float'>)
Row 9996: nan (Type: <class 'float'>)
Row 10002: nan (Type: <class 'float'>)
Row 10054: nan (Type: <class 'float'>)
Row 10059: nan (Type: <class 'float'>)
Row 10154: nan (Type: <class 'float'>)
Row 10184: nan (Type: <class 'float'>)
Row 10212: nan (Type: <class 'float'>)
Row 10235: nan (Type: <class 'float'>)
Row 10298: nan (Type: <class 'float'>)
Row 10301: nan (Type: <class 'float'>)
Row 10304: nan (Type: <class 'float'>)
Row 10324: nan (Type: <class 'float'>)
Row 10325: nan (Type: <class 'float'>)
Row 10339: nan (Type: <class 'float'>)
Row 10346: nan (Type: <class 'float'>)
Row 10373: nan (Type: <class 'float'>)
Row 10392: nan (Type: <class 'float'>)
Row 10401: nan (Type: <class 'float'>)
Row 10424: nan (Type: <class 'float'>)
Row 10425: nan (Type: <class 'float'>)
Row 10443: nan (Type: <class 'float'>)
Row 10448: nan (Type: <class 'float'>)
Row 10449: nan (Type: <class 'float'>)
Row 10491: nan (Type: <class 'float'>)
Row 10507: nan (Type: <class 'float'>)
Row 10508: nan (Type: <class 'float'>)
Row 10509: nan (Type: <class 'float'>)
Row 10540: nan (Type: <class 'float'>)
Row 10549: nan (Type: <class 'float'>)
Row 10557: nan (Type: <class 'float'>)
Row 10585: nan (Type: <class 'float'>)
Row 10596: nan (Type: <class 'float'>)
Row 10621: nan (Type: <class 'float'>)
Row 10630: nan (Type: <class 'float'>)
Row 10656: nan (Type: <class 'float'>)
Row 10673: nan (Type: <class 'float'>)
Row 10704: nan (Type: <class 'float'>)
Row 10774: nan (Type: <class 'float'>)
Row 10897: nan (Type: <class 'float'>)
Row 10960: nan (Type: <class 'float'>)
Row 10966: nan (Type: <class 'float'>)
Row 11201: nan (Type: <class 'float'>)
Row 11240: nan (Type: <class 'float'>)
Row 11252: nan (Type: <class 'float'>)
Row 11292: nan (Type: <class 'float'>)
Row 11297: nan (Type: <class 'float'>)
Row 11303: nan (Type: <class 'float'>)
Row 11329: nan (Type: <class 'float'>)
Row 11337: nan (Type: <class 'float'>)
Row 11480: nan (Type: <class 'float'>)
Row 11536: nan (Type: <class 'float'>)
Row 11554: nan (Type: <class 'float'>)
Row 11562: nan (Type: <class 'float'>)
Row 11583: nan (Type: <class 'float'>)
Row 11614: nan (Type: <class 'float'>)
Row 11638: nan (Type: <class 'float'>)
Row 11657: nan (Type: <class 'float'>)
Row 11659: nan (Type: <class 'float'>)
Row 11678: nan (Type: <class 'float'>)
Row 11679: nan (Type: <class 'float'>)
Row 11686: nan (Type: <class 'float'>)
Row 11699: nan (Type: <class 'float'>)
Row 11708: nan (Type: <class 'float'>)
Row 11732: nan (Type: <class 'float'>)
Row 11770: nan (Type: <class 'float'>)
Row 11792: nan (Type: <class 'float'>)
Row 11796: nan (Type: <class 'float'>)
Row 11833: nan (Type: <class 'float'>)
Row 11850: nan (Type: <class 'float'>)
Row 11866: nan (Type: <class 'float'>)
Row 11879: nan (Type: <class 'float'>)
Row 11897: nan (Type: <class 'float'>)
Row 11907: nan (Type: <class 'float'>)
Row 11929: nan (Type: <class 'float'>)
Row 11930: nan (Type: <class 'float'>)
Row 11931: nan (Type: <class 'float'>)
Row 11955: nan (Type: <class 'float'>)
Row 12005: nan (Type: <class 'float'>)
Row 12021: nan (Type: <class 'float'>)
Row 12034: nan (Type: <class 'float'>)
Row 12042: nan (Type: <class 'float'>)
Row 12066: nan (Type: <class 'float'>)
Row 12079: nan (Type: <class 'float'>)
Row 12095: nan (Type: <class 'float'>)
Row 12105: nan (Type: <class 'float'>)
Row 12134: nan (Type: <class 'float'>)
Row 12136: nan (Type: <class 'float'>)
Row 12138: nan (Type: <class 'float'>)
Row 12153: nan (Type: <class 'float'>)
Row 12159: nan (Type: <class 'float'>)
Row 12164: nan (Type: <class 'float'>)
Row 12168: nan (Type: <class 'float'>)
Row 12170: nan (Type: <class 'float'>)
Row 12203: nan (Type: <class 'float'>)

In [9]:
data = data[data['message'].apply(lambda x: isinstance(x, str))]

In [10]:
def regex_tokenize(data):
    sentence_splitter = re.compile(r'(?<=[.!?]) +')
    word_splitter = re.compile(r'[\u0600-\u06FF]+|\d+|\w+')

    sentences_list = []
    words_list = []
    original_messages = []
    word_indices = []
    sentence_count = 1

    for index, message in data['message'].items():
        if isinstance(message, str):
            sentences = sentence_splitter.split(message.strip())
            for sentence in sentences:
                words = word_splitter.findall(sentence)
                for word_index, word in enumerate(words):
                    sentences_list.append(f"Sentence: {sentence_count} (Message {index})")
                    words_list.append(word)
                    original_messages.append(message)
                    word_indices.append(word_index + 1)
                sentence_count += 1
        else:
            print(f"Warning: Message at index {index} is not a string. Skipping...")

    tokenized_df = pd.DataFrame({
        'Sentence #': sentences_list,
        'Word': words_list,
        'Original Message': original_messages,
        'Word Index': word_indices
    })

    return tokenized_df

tokenized_df = regex_tokenize(data)

tokenized_df[['Sentence', 'Message']] = tokenized_df['Sentence #'].str.extract(r'Sentence: (\d+) \(Message (\d+)\)')

tokenized_df = tokenized_df.drop(columns=['Sentence #'])

tokenized_df

,Word,Original Message,Word Index,Sentence,Message
0,ุดุฑุทู,ุดุฑุทู ูุงุฒูู ู ู ุนููู,1,1,0
1,ูุงุฒูู,ุดุฑุทู ูุงุฒูู ู ู ุนููู,2,1,0
2,ู ู,ุดุฑุทู ูุงุฒูู ู ู ุนููู,3,1,0
3,ุนููู,ุดุฑุทู ูุงุฒูู ู ู ุนููู,4,1,0
4,ุญุงุฏุซ,ุญุงุฏุซ ุณูุฑ ุจุนุฏ ุงุดุงุฑุงุช ุดููู ุจุงุชุฌุงู ุนููู,1,2,1
...,...,...,...,...,...
222418,ุงูุนุณู,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,35,23936,24610
222419,0569317865,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,36,23936,24610
222420,ููุดุงุช,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,37,23936,24610
222421,ุงูุฌุจุนู,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,38,23936,24610
222422,ุฌููู,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,1,23937,24610

In [11]:
tokenized_df.drop(columns='Message', inplace=True)
tokenized_df

,Word,Original Message,Word Index,Sentence
0,ุดุฑุทู,ุดุฑุทู ูุงุฒูู ู ู ุนููู,1,1
1,ูุงุฒูู,ุดุฑุทู ูุงุฒูู ู ู ุนููู,2,1
2,ู ู,ุดุฑุทู ูุงุฒูู ู ู ุนููู,3,1
3,ุนููู,ุดุฑุทู ูุงุฒูู ู ู ุนููู,4,1
4,ุญุงุฏุซ,ุญุงุฏุซ ุณูุฑ ุจุนุฏ ุงุดุงุฑุงุช ุดููู ุจุงุชุฌุงู ุนููู,1,2
...,...,...,...,...
222418,ุงูุนุณู,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,35,23936
222419,0569317865,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,36,23936
222420,ููุดุงุช,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,37,23936
222421,ุงูุฌุจุนู,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,38,23936
222422,ุฌููู,ูู ุญุงู ุงููุทุงุนู ุจุฌู ูุน ุทุฑู ุงูุถูู::::\nุงุฑูุงู ุงููู...,1,23937

In [12]:
from collections import Counter
import re

all_text = ' '.join(data['message'].dropna())


words = re.findall(r'\b\w+\b', all_text)
word_counts = Counter(words)

word_count = pd.DataFrame(word_counts.items(), columns=['word', 'count'])

word_count

           word  count
0          ุดุฑุทู    232
1         ูุงุฒูู      1
2            ูู   2643
3          ุนููู    339
4          ุญุงุฏุซ    186
...         ...    ...
10975       ููุด      1
10976     ูุดุบุงู      1
10977      ูุฏุงุฑ      1
10978   ูุฑุงุณููู      1
10979  ูุจูุถูููุง      1

[10980 rows x 2 columns]

In [13]:
from rapidfuzz import fuzz

location_names = [
    "ุงูููุดูุฉ", "ูุชุณูุงุฑ", "ุตุฑุฉ", "ุฒุนุชุฑุฉ", "ุนุตูุฑุฉ", "ุงููุณุงูู", "ุงููุฑุจุนุฉ", 
    "ุจูุงุจุฉ ุจูุฑูู", "ุฏูุฑ ุดุฑู", "ุนูุฑุชุง", "ุจูุช ููุฑูู", "ุจุฒุงุฑูุง", "ุดุงูู ุดูุฑูู",
    "ุญููุด", "ุนูุงุจ", "ุงูููุฑูุงุช", "ุญุฌุฉ", "ูุงุฏู ูุงูุง", "ุจูุช ููุฏ", "ููุฑ ูุงูู", 
    "ุงูุญูุฑุง", "ุนููุฑุง", "ุงุฑุฆูู", "ุณูููุช", "ุฑุงู ุงููู", "ูุงุจูุณ", "ุนูู ุณูููุง", 
    "ุนุทุงุฑุฉ", "ุฑูุงุจู", "ุนููู ุงูุญุฑุงููุฉ", "ุชุฑูุณุนูุง", "ุณูุฌู", "ูุฑูุฑ", "ุจูุช ุงูู", 
    "ุนุฒูู", "ุฌูุงุนูู", "ููู ุญุงุฑุณ", "ูุฑุฏุง", "ุงููุจู ุงูุดุฑููุฉ", "ุจุฏูุง", "ุจุฑููู", 
    "ุงูุฒุนูู", "ุงูุนูุฒุฑูุฉ", "ูููุฏูุง", "ุฌุจุน", "ุงููููุชููุฑ", "ุนุด ุงูุบุฑุงุจ", 
    "ูุฎูุงุณ", "ุฌูุช", "ุจูุชุง", "ุฏูุฑ ุจููุท", "ูุงุณูู", "ุงููุจู ุงููุงุณ", "ุณุนูุฑ", 
    "ุญูุญูู", "ุญูุงุฑุฉ", "ุฑุงุณ ุงูุฌูุฑุฉ", "ุนูุงุชุง", "ุญุฒูุง", "ุงูุงุชูู", "ุจูุฑุฒูุช", 
    "ุงููุจู ุตุงูุญ", "ุงูุฑุงุช", "ุชููุน", "ุฏูุฑุง", "ุนุชุตููู", "ุงูุนุฑูุจ", "ูุฑุด ุงูููู", 
    "ุญุงุฌุฒ ุงูููู", "ุดุงุฑุน ุจูุฌู", "ุงูุฎููู", "ูุงุฏ ุงููุงุฑ", "DCO", "ุจูุช ุฌุงูุง", 
    "ุงุฑูุญุง", "ุจุฑูุฉ", "ุงูุบุฑุณ", "ูุชูุง", "ุงูุณุงููุฉ", "ูุจุฑูุฏ", "ุณููุงุฏ", 
    "ุงูุทูุจุฉ", "ุงููุดุงุด", "ุทูููุฑู", "ุงููุณุนูุฏูุฉ", "ุจูุช ุงูู", "ุฌููู", 
    "ููููููุฉ", "ุนููู", "ูุฏูููู", "ูุฎูู ุงูุฌูุฒูู", "ุฑูุฌูุจ", "ุดุนูุงุท", 
    "ุงูุฑุงู", "ุจูุช ูุญู", "ุญูุงุฑุฉ", "ูุจูุงู", "ุนููุจูุณ", "ุจูุช ุนูุฑ", "ุงููุฑุน", 
    "ุงูุฏูุง", "ูุนุงูู ุงุฏูููู", "ุญุฒูุง", "ุงูุณููุฉ", "ููุฑ ุดูุณ", "ุจูุนุง", 
    "ุงูุฌูุชูู", "ุงูุจุงุฐุงู", "ุงูุจูุฑุฉ", "ุจุฑูุงู", "ุญุจูุฉ", "ุญุฑููุด", "ุทูุจุงุณ", 
    "ุงูุณููุฉ", "ุงูุฑุงูู", "ุถูุงุญู ุงููุฏุณ", "ุงููุฏุณ", "ุงูุนุจูุฏูุฉ", "ุจูุช ุณุงุญูุฑ", 
    "ุชู ุงูุฑุจูุน", "ูุทุง", "ุงูุธุงูุฑูุฉ", "ุชุฑููููุง", "ุฏูุฑ ุดุฑู", "ุดูุจุง", 
    "ุงูููู", "ุดููู", "ุนุทุฑูุช", "ุญูููุด", "ุงููุดุชู", "ุนูุฑุจุง", "ูููุฏูุง", 
    "ุณุจุณุทูุฉ", "ุงูููุงุฑ", "ุงุฏูููู", "ุงูุนุจูุฏูุฉ", "ุฌูู ุตุงููุช", "ุฒูุงุชุง", 
    "ุญููุด", "ุฏูุฑ ุงุณุชูุง", "ุงูุนูุฌุง", "ุจูุช ุงูุฑ", "ูุจุงุทูุฉ", "ุงูุฌูุฒูู", 
    "ุนุทุงุฑุฉ", "ุงูุฎุฑูุจุฉ", "ุนุงุฑูุฑุฉ", "ุงูุงุญุฑุงุด", "ุนุตูุฑุฉ ุงูุดูุงููุฉ", "ุฌููุณ", "ุนูู ูุจุฑูุฏ", 
    "ุนูุจุชุง", "ุงููุงููุฑุฉ", "ุงูุฏููุดุฉ", "ุจูุช ุงูุฑูู", "ููุตูู", "ุนูุงุชุง", 
    "ุจุงุจ ุงูุฒุงููุฉ", "ุงูุตูุฑูู", "ุตูุฑูู", "ุถุงุญูุฉ ุงูุฑูุญุงู", "ุงุจู ุฏูุณ", "ุณุงูู", 
    "ุงูุนูุณููุฉ", "ุจูุช ุญูููุง", "ุงูุจูุฑุฉ", "ุงูุงุณูุงูุงุช", "ุงูุฒุงููุฉ", "ุงููุตุงุฑูุฉ",
    "ูุงุฏ ูุงูุง", "ุงููุตุงูุน", "ููุฑ ุนูุจ", "ุจูุฑ ุฒูุช", "ุนุตูุฑุฉ ุงููุจููุฉ", "ุงูููุฏู"
]

close_words = [
    'ูุบูู', 'ูุบููุฉ', 'ูููู', 'ูุงููู', 'ุณูุฑูู', 'ูุณูุฑู', 'ุณูุฑ', 
    'ูุณูุฑูู', 'ูุชูููู', 'ุงุบูุงู', 'ุงุบูุงูู'
]
open_words = [
    'ูุชุญ', 'ูุงุถู', 'ุณุงูู', 'ุณุงููู', 'ูุงุชุญุฉ', 'ูุงุชุญ', 'ุณูู', 'ูุชุญุช',
    'ูุงุชุญูู', 'ุจูุดู', 'ููุชูุญุฉ', 'ุจุณูู', 'ุจูุดู', 'ูุดูุง', 'ูุชุญููุง', 'ุณุงููุงุช', 'ูุณูู'
]

def regex_tokenize_with_similarity(data, location_names, similarity_threshold=80, close_threshold=80, open_threshold=80):
    sentence_splitter = re.compile(r'(?<=[.!?]) +')
    word_splitter = re.compile(r'[\u0600-\u06FF]+|\d+|\w+')

    sentences_list = []
    words_list = []
    original_messages = []
    word_indices = []
    labels = []
    similarities = []
    sentence_count = 1

    for index, message in data['message'].items():
        if isinstance(message, str):
            sentences = sentence_splitter.split(message.strip())
            for sentence in sentences:
                words = word_splitter.findall(sentence)
                
                i = 0
                while i < len(words):
                    if i + 1 < len(words) and f"{words[i]} {words[i+1]}" in location_names:
                        labels.extend(["B-LOC", "I-LOC"])
                        similarities.extend([100, 100])  
                        
                        sentences_list.extend([f"Sentence: {sentence_count} (Message {index})"] * 2)
                        words_list.extend([words[i], words[i + 1]])
                        original_messages.extend([message] * 2)
                        word_indices.extend([i + 1, i + 2])
                        
                        i += 2
                        continue
                    elif words[i] in location_names:
                        labels.append("B-LOC")
                        similarities.append(100)
                    else:
                        max_close_similarity = max(fuzz.ratio(words[i], word) for word in close_words)
                        if max_close_similarity >= close_threshold:
                            labels.append("B-close")
                            similarities.append(max_close_similarity)
                        else:
                            max_open_similarity = max(fuzz.ratio(words[i], word) for word in open_words)
                            if max_open_similarity >= open_threshold:
                                labels.append("B-open")
                                similarities.append(max_open_similarity)
                            else:
                                max_loc_similarity = max(fuzz.ratio(words[i], loc) for loc in location_names)
                                labels.append("B-LOC" if max_loc_similarity >= similarity_threshold else "O")
                                similarities.append(max_loc_similarity if max_loc_similarity >= similarity_threshold else 0)

                    sentences_list.append(f"Sentence: {sentence_count} (Message {index})")
                    words_list.append(words[i])
                    original_messages.append(message)
                    word_indices.append(i + 1)
                    i += 1
                    
                sentence_count += 1
        else:
            print(f"Warning: Message at index {index} is not a string. Skipping...")

    tokenized_df = pd.DataFrame({
        'Sentence #': sentences_list,
        'Word': words_list,
        'Original Message': original_messages,
        'Word Index': word_indices,
        'label': labels,
        'Similarity Score': similarities
    })

    return tokenized_df



tokenized_df = regex_tokenize_with_similarity(pd.DataFrame(data), location_names)

tokenized_df[['Sentence', 'Message']] = tokenized_df['Sentence #'].str.extract(r'Sentence: (\d+) \(Message (\d+)\)')


tokenized_df = tokenized_df.drop(columns=['Sentence #'])

ModuleNotFoundError: No module named 'rapidfuzz'